[user]
	name = Yuta Saito
	email = kateinoigakukun@gmail.com
[http]
	sslVerify = true
[core]
	editor = vim
	excludesfile = ~/.config/git/.gitignore
[diff]
	tool = vimdiff
[ghq]
	root = ~/.ghq
[merge]
	conflictStyle = diff3
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
