[submodule "third-party/tmux-continuum"]
	path = third-party/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "third-party/tmux-resurrect"]
	path = third-party/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
