[user]
	name = Yuta Saito
	email = kateinoigakukun@gmail.com
[credential]
	helper = osxkeychain
[http]
	sslVerify = true
[core]
	editor = nvim
[url "git@github.com:"]
	insteadOf = https://github.com/
